@tailwind base;
@tailwind components;
@tailwind utilities;
header {
    width: 100%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    height:90px;
}
.navigation{
    display:flex;
    padding:0px 30px;
    height:90px;
}
.logo >a{
    color:black;
    text-decoration: none;
    padding: 30px;
    font-size: 20px;
    font-weight: bold;
}

.logo > a>div .first-letter,.second-letter{
    color:#f73e70;
    font-size:30px;
}
header ul.menu li .btn-primary{
    background: #f73e70;
}
header .close-button {
    display: none;
    background: #f73e70;
    width: 40px;
    text-align: center;
    position: absolute;
    right: 30px;
    top: 30px;
}
header .close-button.active {
    display: block;
}
header .menu-option {
    background: #f73e70;
    display:none;
    width: 40px;
    text-align: center;
    position: absolute;
    right: 30px;
    top: 30px;
}
header .menu-option.n-active {
    display: none;
}
header .navigation .logo {
    flex-grow: 1;
}
header ul.menu{
    display:flex;
    /*height:80px;*/
    padding: 0;
    margin: 0;
    height: 90px;
}
header  ul.menu li {
    padding: 6px 30px;
    font-size: 20px;
    font-weight: 400;
    margin:10px 10px 0 10px;
    text-align: center;
    border-bottom: 3px solid transparent;
}
header  ul.menu li:hover{
    border-color: lightgray;
}
header .user-image{
    border-radius: 50%;
    border:2px solid black;
    margin:0 20px;
}
header .navigation .menu li a {
    width: 100%;
    text-decoration: none;
    height: 100%;
    color: #222f44;
    font-size: 18px;
}
header ul.menu li a >div{
    display:flex;
    align-items: center;
}
header .bell-icon,.calender{
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}
header .navigation .menu li a:hover {
    text-decoration: none;
}
header .navigation .menu li:hover {
    /*background: #f2efea;*/
}
header .navigation ul.menu.active {
    display: block;
}
footer{
    background: #f73e70;
    color:white;
    padding: 3px 0;
    font-size:20px;
    text-align: center;
}
.footer-text{
    padding-top:10px;
}
.item{
    width:500px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    margin:auto;
    padding:10px;
}
.item >a {
    color: black;
    text-decoration: none;
    text-align: center;
    padding:30px 30px;
    width:50%;
}
.item > a h2{
    font-size: 28px;
    font-weight: lighter;
}
.item a.meeting{
    border-right: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}
.item a.today_task{
    border-bottom: 2px solid lightgray;
}
.item a.calender{
    border-right: 2px solid lightgray;
}
.welcome-text{
    text-align: center;
    padding:30px;
}
.meeting-text{
    text-align: center;
    padding:10px;
}
.meeting-text h1{
    font-weight: 800;
}
.text-box{
    width:80%;
    margin:auto;
    padding: 40px;
    text-align: center;
}
/*card section*/
.page-card-section {
    border-radius: 15px;
      width: 100%;
      height: auto;
      margin-bottom: 20px;
    margin:0 10px;
  }
.page-card-section a{
    text-decoration: none;
}
.page-card {
    background: white;
    display: flex;
    color: #7a7a7a;
    flex-direction: column;
    transition: all .8s ease-in-out;
}

.page-card:hover {
    background: #323232;
    color: white;
}

.page-card:hover h2 {
    color: white;
}

.card-image {
    height: 307px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-text {
    padding: 20px 30px 30px 30px;
    text-align: center;
}
.bg-office{
    background: #636f4f;
}

.card-text h2 {
    color: black;
    margin: 0 0 12px 0;
    font-size: 1.3em;
    line-height: 1.3em;
    font-weight: 700;
}

.card-text p {
    color: #7a7a7a;
    font-size: 1.1em;
    line-height: 1.3em;
    padding: 0;
}
.blogs{
    background: #e5e5e5;
    padding: 30px 0;
}
.blog-text{
    padding:10px;
    text-align: center;
}
.blog-text h1{
    font-weight: 800;
}
.web-container{
    display: flex;
    width: 80%;
    margin: auto;
}
/* meeting page*/
.meeting form{
    width: 70%;
    margin: auto;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    padding: 30px;
    border-radius: 15px;
}
.btn-container{
    width: 196px;
    border: 2px solid lightgray;
    margin: auto;
    border-radius: 20px;
    height: 43px;
    display: flex;
    padding:0 0;
}
.btn-container a{
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.btn-container a.btn-1{
    background: #0b5ed7;
    color:white;
}


/*review*/
.review-section{
    width:50%
}
.review-plan{
    display:flex;
    width:80%;
    margin:auto;
}
.review-section .review {
    padding: 20px 0;
    list-style: none;
    padding-inline-start: 0;
    width: 85%;
    margin: auto;
}

.review-section .review li {
    border-radius: 15px;
    padding: 15px;
    display: flex;
    margin-bottom: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0, rgba(14, 30, 37, 0.32) 0 2px 16px 0;
}

.review-section .review li > div > p {
    margin-bottom: 0;
}

.review-section .review li > div > img {
    border-radius: 50%;
    padding-right: 15px;
    padding-top: 15px;
}

ul.review li > div > a {
    /*margin-top: 15px;*/
}

.review-section .review li div:nth-child(2n) {
    flex-grow: 1;
}

.review-section .review li > div > a {
    border-radius: 25px;
    font-size: 10px;
}

.review-section .review li > div a.success {
    background: #def7ec;
    color: green;
}

.review-section .review li > div.indicator {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul.review li > div a.success .fa-circle {
    color: green;
}

ul.review li > div a.processing {
    background: #feecdc;
    color: orange;
}

ul.review li > div a.processing .fa-circle {
    color: orange;
}

ul.review li > div a.failed {
    background: #fde8e8;
    color: red;
}

ul.review li > div a.failed .fa-circle {
    color: red;
}
.funds-section .plans-details2 {
    padding: 20px 0;
}
.plans-description .icon {
    padding-right: 20px;
}

.plans-description .icon i {
    background: #6366f1;
    height: 45px;
    border-radius: 10px;
    text-align: center;
    width: 50px;
    padding: 15px;
    font-size: 20px;
    color: white;
}
/*list meeting*/
.list-meeting .card{
    margin:20px auto;
}
.list-meeting .card .card-text p{
    /*width: 70%;*/
    position: relative;
    top: 10px;
    right: 20px;
}
.list-meeting .card .card-text{
    position: absolute;
    top: 10px;
    right: 20px;
    width:70%;
    text-align: left;
}
.list-meeting .card .card-text .btn-section{
    position: absolute;
    top:100px;
    right: 20px;
    bottom:10px;
}
/*blogs*/
.blog-section {
    padding: 10px 0;
}

.section-heading {
    width: 100%;
    margin: auto;
    text-align: center;
}

.section-heading h1 {
    font-weight: 800;
}

.section-heading p {
    color: gray;
    font-size: 20px;
}

.blog-section{
    display: flex;
}
.blog-section .blog-posts {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
}

.blog-detail {
    display: flex;
}
.blog-posts a{
    text-decoration: none;
    color:black;
}
.blog-posts .blog-card {
    border: 1px solid #d2cece;
    /*width: 32%;*/
    margin: 0 0.66% 20px 0.66%;

    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.blog-posts .blog-card:hover {
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.blog-card  .blog-image {
    border-radius: 15px 15px 0 0;
    height: 209px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.blog-detail .author_image {
    border-radius: 50%;
}

.blog-card  .blog-text {
    padding: 25px;
}

.blog-card .blog-text h5 {
    margin: 10px 0;
}

.blog-card .blog-text p {
    font-size: 15px;
    color: gray;
    font-weight: 400;
}

.blog-card  .blog-description {
    overflow: hidden;
    margin-bottom: 15px;
}

.blog-card .blog-description span {
    color: #584fe6;
    font-weight: 700;
    font-size: 15px;
}

.blog-detail small {
    font-size: 0.8em;
}

/*plans section*/
.plans-section{
    display:flex;
    justify-content:center;
}
.plans-section .card{
    margin:20px;
}
.plans-section .card .card-text{
    text-align: left;
}
.plans-section .card .card-text ul{
    list-style: initial;
    margin-bottom: 40px;
}
.plans-section .card  a.btn{
    position: absolute;
    bottom: 10px;
    left:30px;
    margin-bottom: 10px;
}
.img-plan{
    margin: auto;
}
.plan-box{
    display: flex;
}
.plan-box .plan-text p{
    margin: 30px 0;
    font-size: 20px;
}
/*task form*/
.task-form{
    width: 70%;
    margin: auto;
}
.task-form textarea{
    width:100%;
}
/*login panel*/
.login{
    background: white;
}
.login > a{
    text-decoration: none;
    font-size:20px;
    margin: 20px 30px;
}
.antialiased h2 {
    padding:30px 200px;
    color:red;
}
